video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(../img/actual-cartographie-actual-multimedia.jpg) no-repeat;
	background-size: cover;
}

video { display: block; }

.secteur {
	font-weight:bold;
	font-size:40px;
}
